.booking_container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font_size);

    .alert {
        --alert_radius: 15px;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        padding: 10px;
        background-color: red;
        color: white;
        height: max(2rem, calc(2vh * 2.3));
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding: 10px;
        border-radius: 0 0 var(--alert_radius) var(--alert_radius);
    }

    h1 {
        width: 80%;
        text-align: center;
        margin: 1rem;
    }

    .booking_selection_wrapper {
        display: flex;
        flex-flow: column wrap;
        max-width: 100%;
        min-height: max(20rem, 50vh);

        .trip_type {
            display: flex;
            justify-content: center;
            min-height: max(3rem, 7.5vh);

            button {
                min-width: max(8rem, calc(8vw * 1.2));
                margin: 0 max(1rem, 1.1vw) 0 max(1rem, 1.1vw);
                background-color: var(--primary);
                border: 2px solid var(--primary);
                color: white;
                cursor: pointer;
                font-size: var(--font_size);
            }
        }

        form {
            flex: 1;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-top: max(1rem, calc(1vh * 2.5));
            --booking_form_items_width: max(22.5rem, 45%);
            --booking_form_items_height: max(3rem, calc(3vw * 1.1));
            --booking_form_items_margin: max(0.5rem, 1vh) 0 max(0.5rem, 1vh) 0;
            --booking_form_items_borderRadius: max(1rem, calc(1vw * 1.1));
            --booking_form_items_padding: 0 max(0.5rem, calc(0.5vw * 1.1)) 0 0;

            .input_wrapper {
                min-width: var(--booking_form_items_width);
                min-height: var(--booking_form_items_height);
                margin: var(--booking_form_items_margin);
                border: 2px solid black;
                border-radius: var(--booking_form_items_borderRadius);
                display: flex;
                align-items: center;

                svg {
                    min-width: max(2rem, 2.25vw);
                    min-height: max(2rem, calc(2vh * 2.75));
                    margin: max(0.5rem, calc(0.5vh * 2.75)) max(0.5rem, 0.5vw) max(0.5rem, calc(0.5vh * 2.75))
                        max(0.5rem, 0.5vw);
                    color: var(--primary);
                }

                select {
                    flex: 1;
                    min-height: inherit;
                    border: none;
                    outline: none;
                    text-align: center;
                    border-radius: var(--booking_form_items_borderRadius);
                    padding: var(--booking_form_items_padding);
                    background-color: transparent;
                    font-size: var(--font_size);
                }

                input {
                    flex: 1;
                    min-height: inherit;
                    border: none;
                    outline: none;
                    text-align: center;
                    border-radius: var(--booking_form_items_borderRadius);
                    padding: var(--booking_form_items_padding);
                    background-color: transparent;
                    font-size: var(--font_size);
                }
            }

            button {
                min-width: var(--booking_form_items_width);
                min-height: var(--booking_form_items_height);
                margin: var(--booking_form_items_margin);
                border: max(0.25rem, calc(0.25vw * 1.1)) solid var(--primary);
                background-color: var(--primary);
                color: white;
                cursor: pointer;
                font-size: var(--font_size);
            }
        }
    }
}
